body{
    margin: auto;
    width: 960px;

}
.image-upload {
  position: relative;
}

.file-drop-area {
  margin-bottom: 10px; /* Add margin for spacing */
}

  /* Estilos para a janela modal */
  .modal {
    display: none; /* Por padrão, esconde a janela modal */
    position: fixed; /* Fixa a posição da janela modal */
    z-index: 9999; /* Define uma ordem de empilhamento alta */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro semitransparente */
    overflow: auto; /* Habilita rolagem quando o conteúdo excede a janela */
  }

  /* Conteúdo da janela modal */
  .modal-content {
    margin: auto; /* Centraliza o conteúdo */
    display: block;
    background-color: #fefefe;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%; /* Largura máxima */
    max-height: 80%; /* Altura máxima */
  }

  /* Botão de fechar */
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #555;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }

  .close:hover,
  .close:focus {
    color: #f00; /* Mudança de cor ao passar o mouse ou focar */
  }

/* Imagem em tamanho completo */
.full-image {
  width: 100%; /* Define a largura como 100% da janela modal */
  height: auto; /* Altura automática */
}
.button-container {
  display: relative;
  align-items: center; /* Align items vertically */
}

.delete-btn {
  margin-right: 10px; /* Adjust as needed */
}

.uploaded-images {
  margin: 0; /* Remove default margin */
}

h6 {
  margin: 0; /* Remove default margin */
  display: inline-block; /* Ensures it's displayed in line with the button */
}

.thumbnail {
  width: 50px; /* Adjust width as needed */
  height: 50px; /* Maintain aspect ratio */
  margin-right: 10px; /* Add margin between thumbnails */
}

.backoffice-section {
    margin-top: 40px;
  }
  
  .app-section, .carousel-section, .wrapped-texts-section {
    margin-top: 40px;
  }
  
  .input-container {
    margin-top: 40px;
    width: 200px;
  }
  
  .input-container input {
    width: 100%;
    padding: 10px;
  }
  
  .file-drop-area {
    border: 2px dashed #ccc;
    padding: 20px;
    margin-top: 10px;
    position: relative;
    height: 60px;
  }
  
  .file-msg {
    display: block;
    text-align: center;
  }
  
  .file-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  
  .uploaded-images {
    margin-top: 10px;
  }
  
  .delete-btn {
    margin-top: 10px;
    display: block;
  }
  
  .thumbnail-container, .left-image, .right-image {
    margin-top: 30px;
    text-align: right;
  }
  
  .thumbnail-container img, .left-image img, .right-image img {
    height: 60px;
    width: auto;
    margin-top: 10px;
    text-align: left;
  }
  
  .text-area {
    width: 70%;
    margin-top: 10px;
    resize: vertical;
  }
  